<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Offline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <header>
        <section id="compose">
          <form action="{{ url_for('offline.compose') }}" method="POST">
            <textarea name="content"></textarea>
            <input type="text" name="parent_id" style="display:none;" value="0"/>
            <input type="submit" value="tweet" />
          </form>
        </section>
      </header>
      <section id="main">
        <section id="tweets">
          {% for tweet in tweets %}
          <article class="tweet">
            <section class="t-content">
              <p>{{ tweet.content }}</p>
            </section>
            <footer class="t-footer">
              <p class="t-author">{{ tweet.user }}</p>
              <p>{{ tweet.post_time }}</p>
            </footer>
          </article>
          {% endfor %}
        </section>
      </section>
      <footer></footer>
    </div>
  </body>
</html>
