{% extends 'basic.html' %}

{% block title %}
timeline
{% endblock %}

{% block head %}
<style type="text/css">
    body {
        background-image: url("{{ url_for('static', filename='img/timeline.png') }}");
    }
</style>
{% endblock %}

{% block main %}
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">
        3 bugs
      </a>
      <ul class="nav">
        <li class="active"><a href="#">{{ g.user.username }} {% if g.user.mentions %}<{{ g.user.mentions | count }}{% endif %}</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- top nav -->

<div class="wrap row">
  <section id="main" class="offset2 span8">
    <header>
      <h1>Talk something...</h1>
    </header>
    <div id="compose" class="clearfix">
    <form id="compose-form" action="{{ url_for('create_tweet') }}" method="POST">
        <textarea name="content" rows="4"></textarea>
        <input type="submit" value="Tweet" class="btn btn-info pull-right" />
      </form>
    </div>
    <hr />
    <!-- compose tweet -->
    <div id="timeline">
      {% for tweet in timeline %}
      <div class="tweet clearfix">
        <div class="avatar">
          <img src="{{ url_for('static', filename='img/avatar/%d.jpg' % (tweet.author.id)) }}"/>
        </div>
        <div class="content">
          <article class="clearfix">
            <p>{{ tweet.content }}</p>
            {% if tweet.image %}
            <img src="{{ url_for('static', filename='data/%s.png' % tweet.image ) }}" />
            {% elif tweet.origin %}
            <div class="retweet clearfix">
              <div class="content">
                <article>
                  <a href="#" class="author">{{ tweet.origin.author.username }}<span>:</span></a>
                  <p>{{ tweet.origin.content }}</p>
                </article>
              </div>
            </div>
            {% endif %}
            <footer class="meta pull-right">{{ tweet.author.username }} ~ <abbr class="timeago" title="{{ tweet.date }}">{{ tweet.date }}</abbr></footer>
          </article>
        </div>
      </div>
      <!-- tweet -->
      {% endfor %}
    </div>
    <!-- timeline -->
  </section>
</div>
<!-- main -->
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
